#static/* linguist-vendored
docs/* linguist-documentation
*docs/* linguist-documentation
*.html linguist-documentation
*.am linguist-vendored=true
*.sh linguist-vendored=true
Makefile linguist-vendored=true
makefile linguist-vendored=true
Makefile* linguist-vendored=true
config* linguist-vendored=true
*.cc linguist-language=cpp
*.c linguist-language=c
